In [79]:
import pandas as pd
import numpy as np
# from sqlalchemy import create_engine

pd.options.display.max_columns = None

# import 
chef_payment=pd.read_json("chefmozaccepts.json")
chef_cuisine=pd.read_json("chefmozcuisine.json")
chef_hours=pd.read_json("chefmozhours4_final.json")
chef_parking=pd.read_json("chefmozparking.json")

restaurent_merged_table_1 = chef_payment.merge(chef_cuisine, on='placeID', how='inner')
restaurent_merged_table_2 = restaurent_merged_table_1.merge(chef_hours, on='placeID', how='inner')
restaurent_table = restaurent_merged_table_2.merge(chef_parking, on='placeID', how='inner')

user_cuisine=pd.read_excel("usercuisine.xlsx")
user_profile=pd.read_excel("userprofile.xlsx")
user_payment=pd.read_excel("userpayment.xlsx")

user_merged_table_2 = user_profile.merge(user_cuisine, on='userID', how='inner')
user_table=user_merged_table_2.merge(user_payment, on='userID', how='inner')

rating = pd.read_csv('rating_final.txt', delimiter=' ')

display(user_table.head(20))
user_table.describe()
user_table.info()
display(restaurent_table.head(20))
restaurent_table.describe()
restaurent_table.info()
display(rating)
rating.describe()
rating.info()
# engine = create_engine("postgresql://username:password@localhost:5432/dbms")

# restaurent_table.to_sql("restaurent", engine)
# user_table.to_sql("user",engine)

,userID,latitude,longitude,smoker,drink_level,dress_preference,ambience,transport,marital_status,hijos,birth_year,interest,personality,religion,activity,color,weight,budget,height,Rcuisine,Upayment
0,U1001,22.139997,-100.978803,false,abstemious,informal,family,on foot,single,independent,1989,variety,thrifty-protector,none,student,black,69,medium,1.77,American,cash
1,U1002,22.150087,-100.983325,false,abstemious,informal,family,public,single,independent,1990,technology,hunter-ostentatious,Catholic,student,red,40,low,1.87,Mexican,cash
2,U1003,22.119847,-100.946527,false,social drinker,formal,family,public,single,independent,1989,none,hard-worker,Catholic,student,blue,60,low,1.69,Mexican,cash
3,U1004,18.867000,-99.183000,false,abstemious,informal,family,public,single,independent,1940,variety,hard-worker,none,professional,green,44,medium,1.53,Bakery,cash
4,U1004,18.867000,-99.183000,false,abstemious,informal,family,public,single,independent,1940,variety,hard-worker,none,professional,green,44,medium,1.53,Bakery,bank_debit_cards
5,U1004,18.867000,-99.183000,false,abstemious,informal,family,public,single,independent,1940,variety,hard-worker,none,professional,green,44,medium,1.53,Breakfast-Brunch,cash
6,U1004,18.867000,-99.183000,false,abstemious,informal,family,public,single,independent,1940,variety,hard-worker,none,professional,green,44,medium,1.53,Breakfast-Brunch,bank_debit_cards
7,U1004,18.867000,-99.183000,false,abstemious,informal,family,public,single,independent,1940,variety,hard-worker,none,professional,green,44,medium,1.53,Japanese,cash
8,U1004,18.867000,-99.183000,false,abstemious,informal,family,public,single,independent,1940,variety,hard-worker,none,professional,green,44,medium,1.53,Japanese,bank_debit_cards
9,U1004,18.867000,-99.183000,false,abstemious,informal,family,public,single,independent,1940,variety,hard-worker,none,professional,green,44,medium,1.53,Contemporary,cash
10,U1004,18.867000,-99.183000,false,abstemious,informal,family,public,single,independent,1940,variety,hard-worker,none,professional,green,44,medium,1.53,Contemporary,bank_debit_cards
11,U1004,18.867000,-99.183000,false,abstemious,informal,family,public,single,independent,1940,variety,hard-worker,none,professional,green,44,medium,1.53,Mexican,cash
12,U1004,18.867000,-99.183000,false,abstemious,informal,family,public,single,independent,1940,variety,hard-worker,none,professional,green,44,medium,1.53,Mexican,bank_debit_cards
13,U1004,18.867000,-99.183000,false,abstemious,informal,family,public,single,independent,1940,variety,hard-worker,none,professional,green,44,medium,1.53,Bagels,cash
14,U1004,18.867000,-99.183000,false,abstemious,informal,family,public,single,independent,1940,variety,hard-worker,none,professional,green,44,medium,1.53,Bagels,bank_debit_cards
15,U1004,18.867000,-99.183000,false,abstemious,informal,family,public,single,independent,1940,variety,hard-worker,none,professional,green,44,medium,1.53,Cafe-Coffee_Shop,cash
16,U1004,18.867000,-99.183000,false,abstemious,informal,family,public,single,independent,1940,variety,hard-worker,none,professional,green,44,medium,1.53,Cafe-Coffee_Shop,bank_debit_cards
17,U1004,18.867000,-99.183000,false,abstemious,informal,family,public,single,independent,1940,variety,hard-worker,none,professional,green,44,medium,1.53,Continental-European,cash
18,U1004,18.867000,-99.183000,false,abstemious,informal,family,public,single,independent,1940,variety,hard-worker,none,professional,green,44,medium,1.53,Continental-European,bank_debit_cards
19,U1004,18.867000,-99.183000,false,abstemious,informal,family,public,single,independent,1940,variety,hard-worker,none,professional,green,44,medium,1.53,Cafeteria,cash

<class 'pandas.core.frame.DataFrame'>
Int64Index: 411 entries, 0 to 410
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   userID            411 non-null    object
 1   latitude          411 non-null    float64
 2   longitude         411 non-null    float64
 3   smoker            411 non-null    object
 4   drink_level       411 non-null    object
 5   dress_preference  411 non-null    object
 6   ambience          411 non-null    object
 7   transport         411 non-null    object
 8   marital_status    411 non-null    object
 9   hijos             411 non-null    object
 10  birth_year        411 non-null    int64
 11  interest          411 non-null    object
 12  personality       411 non-null    object
 13  religion          411 non-null    object
 14  activity          411 non-null    object
 15  color             411 non-null    object
 16  weight            411 non-null    int64
 17  budget            411 non-null    object
 18  height            411 non-null    float64
 19  Rcuisine          411 non-null    object
 20  Upayment          411 non-null    object
dtypes: float64(3), int64(2), object(16)
memory usage: 70.6+ KB

,placeID,Rpayment,Rcuisine,hours,days,parking_lot
0,135110,cash,Spanish,08:00-19:00,"[Mon, Tue, Wed, Thu, Fri]",none
1,135110,cash,Spanish,00:00-00:00,"[Sat, Sun]",none
2,135110,VISA,Spanish,08:00-19:00,"[Mon, Tue, Wed, Thu, Fri]",none
3,135110,VISA,Spanish,00:00-00:00,"[Sat, Sun]",none
4,135110,MasterCard-Eurocard,Spanish,08:00-19:00,"[Mon, Tue, Wed, Thu, Fri]",none
5,135110,MasterCard-Eurocard,Spanish,00:00-00:00,"[Sat, Sun]",none
6,135110,American_Express,Spanish,08:00-19:00,"[Mon, Tue, Wed, Thu, Fri]",none
7,135110,American_Express,Spanish,00:00-00:00,"[Sat, Sun]",none
8,135110,bank_debit_cards,Spanish,08:00-19:00,"[Mon, Tue, Wed, Thu, Fri]",none
9,135110,bank_debit_cards,Spanish,00:00-00:00,"[Sat, Sun]",none
10,135109,cash,Italian,08:00-21:00,"[Mon, Tue, Wed, Thu, Fri, Sat, Sun]",none
11,135107,cash,Latin_American,07:00-23:30,"[Mon, Tue, Wed, Thu, Fri, Sat, Sun]",none
12,135107,VISA,Latin_American,07:00-23:30,"[Mon, Tue, Wed, Thu, Fri, Sat, Sun]",none
13,135107,MasterCard-Eurocard,Latin_American,07:00-23:30,"[Mon, Tue, Wed, Thu, Fri, Sat, Sun]",none
14,135107,American_Express,Latin_American,07:00-23:30,"[Mon, Tue, Wed, Thu, Fri, Sat, Sun]",none
15,135107,bank_debit_cards,Latin_American,07:00-23:30,"[Mon, Tue, Wed, Thu, Fri, Sat, Sun]",none
16,135106,cash,Mexican,18:00-23:30,"[Mon, Tue, Wed, Thu, Fri, Sat]",none
17,135106,cash,Mexican,18:00-21:00,[Sun],none
18,135106,VISA,Mexican,18:00-23:30,"[Mon, Tue, Wed, Thu, Fri, Sat]",none
19,135106,VISA,Mexican,18:00-21:00,[Sun],none

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1724 entries, 0 to 1723
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   placeID      1724 non-null   int64
 1   Rpayment     1724 non-null   object
 2   Rcuisine     1724 non-null   object
 3   hours        1724 non-null   object
 4   days         1724 non-null   object
 5   parking_lot  1724 non-null   object
dtypes: int64(1), object(5)
memory usage: 94.3+ KB

     userID  placeID  rating  food_rating  service_rating
0     U1077   135085       2            2               2
1     U1077   135038       2            2               1
2     U1077   132825       2            2               2
3     U1077   135060       1            2               2
4     U1068   135104       1            1               2
...     ...      ...     ...          ...             ...
1156  U1043   132630       1            1               1
1157  U1011   132715       1            1               0
1158  U1068   132733       1            1               0
1159  U1068   132594       1            1               1
1160  U1068   132660       0            0               0

[1161 rows x 5 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1161 entries, 0 to 1160
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   userID          1161 non-null   object
 1   placeID         1161 non-null   int64
 2   rating          1161 non-null   int64
 3   food_rating     1161 non-null   int64
 4   service_rating  1161 non-null   int64
dtypes: int64(4), object(1)
memory usage: 45.5+ KB

In [80]:
user_table.replace("?",np.nan)
result_user=user_table.groupby('userID', as_index=False).agg({
    'latitude': 'mean',
    'longitude': 'mean',
    'smoker': 'first',
    'drink_level': 'first',
    'dress_preference': 'first',
    'ambience': 'first',
    'transport': 'first',
    'marital_status': 'first',
    'hijos': 'first',
    'birth_year': 'mean',
    'interest': 'first',
    'personality': 'first',
    'religion': 'first',
    'activity': 'first',
    'color': 'first',
    'weight': 'mean',
    'budget': 'first',
    'height': 'mean',
    'Rcuisine': lambda x: list(set(x)),
    'Upayment': lambda x: list(set(x))
}).assign(smoker = lambda x: x.smoker.astype(bool)).assign(birth_year = lambda x: x.birth_year.astype(int))
result_user

,userID,latitude,longitude,smoker,drink_level,dress_preference,ambience,transport,marital_status,hijos,birth_year,interest,personality,religion,activity,color,weight,budget,height,Rcuisine,Upayment
0,U1001,22.139997,-100.978803,True,abstemious,informal,family,on foot,single,independent,1989,variety,thrifty-protector,none,student,black,69.0,medium,1.77,[American],[cash]
1,U1002,22.150087,-100.983325,True,abstemious,informal,family,public,single,independent,1990,technology,hunter-ostentatious,Catholic,student,red,40.0,low,1.87,[Mexican],[cash]
2,U1003,22.119847,-100.946527,True,social drinker,formal,family,public,single,independent,1989,none,hard-worker,Catholic,student,blue,60.0,low,1.69,[Mexican],[cash]
3,U1004,18.867000,-99.183000,True,abstemious,informal,family,public,single,independent,1940,variety,hard-worker,none,professional,green,44.0,medium,1.53,"[Cafe-Coffee_Shop, Continental-European, Cafet...","[bank_debit_cards, cash]"
4,U1005,22.183477,-100.959891,True,abstemious,no preference,family,public,single,independent,1992,none,thrifty-protector,Catholic,student,black,65.0,medium,1.69,[American],[cash]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,U1134,22.149654,-100.998610,True,casual drinker,no preference,family,public,single,independent,1991,variety,hard-worker,Catholic,student,black,52.0,medium,1.65,[Mexican],[cash]
129,U1135,22.170396,-100.949936,True,casual drinker,informal,family,on foot,single,kids,1988,variety,hunter-ostentatious,Catholic,student,purple,66.0,low,1.54,"[Kosher, Polynesian, Italian, German, Polish, ...",[cash]
130,U1136,22.149607,-100.997235,True,social drinker,no preference,friends,car owner,single,independent,1990,retro,thrifty-protector,Catholic,student,black,50.0,low,1.60,[Mexican],[cash]
131,U1137,22.144803,-100.944623,True,social drinker,formal,family,public,single,independent,1989,eco-friendly,hard-worker,Catholic,student,blue,72.0,low,1.78,[Mexican],[cash]
132,U1138,22.152884,-100.939663,True,social drinker,formal,friends,public,single,independent,1991,variety,thrifty-protector,none,student,blue,54.0,medium,1.55,[Pizzeria],[cash]

In [81]:

restaurent_table.replace("?",np.nan).head(20)
result_restaurent = restaurent_table.groupby('placeID', as_index=False).agg({
    'Rpayment': lambda x: list(set(x)),
    'Rcuisine': lambda x: list(set(x)),
    'hours': lambda x: list(set(x)),
    'days': lambda x: list(set(i for j in x for i in j)),
    'parking_lot': lambda x: list(set(x))
})
result_restaurent

,placeID,Rpayment,Rcuisine,hours,days,parking_lot
0,132012,"[Diners_Club, Visa, American_Express, bank_deb...","[Dutch-Belgian, French]",[12:00-22:00],"[Sun, Thu, Mon, Wed, Sat, Tue, Fri]","[street, public]"
1,132023,"[Japan_Credit_Bureau, American_Express, Diners...","[Dutch-Belgian, French]",[11:00-00:00],"[Sun, Thu, Mon, Wed, Sat, Tue, Fri]","[fee, public]"
2,132024,"[Diners_Club, Visa, American_Express, bank_deb...","[Continental-European, Seafood]",[11:00-21:00],"[Sun, Thu, Mon, Wed, Sat, Tue, Fri]",[street]
3,132026,"[Diners_Club, Visa, American_Express, bank_deb...",[Dutch-Belgian],[12:00-14:30],"[Thu, Mon, Wed, Tue, Fri]",[fee]
4,132107,"[Diners_Club, Visa, American_Express, bank_deb...",[Japanese],[12:00-22:00],"[Sun, Thu, Mon, Wed, Sat, Tue, Fri]",[public]
...,...,...,...,...,...,...
426,135105,[cash],[Fast_Food],"[20:30-23:30, 00:00-23:30]","[Sun, Thu, Mon, Wed, Sat, Tue, Fri]",[none]
427,135106,"[MasterCard-Eurocard, VISA, cash]",[Mexican],"[18:00-21:00, 18:00-23:30]","[Sun, Thu, Mon, Wed, Sat, Tue, Fri]",[none]
428,135107,"[American_Express, VISA, cash, bank_debit_card...",[Latin_American],[07:00-23:30],"[Sun, Thu, Mon, Wed, Sat, Tue, Fri]",[none]
429,135109,[cash],[Italian],[08:00-21:00],"[Sun, Thu, Mon, Wed, Sat, Tue, Fri]",[none]
430,135110,"[American_Express, VISA, cash, bank_debit_card...",[Spanish],"[00:00-00:00, 08:00-19:00]","[Sun, Thu, Mon, Wed, Sat, Tue, Fri]",[none]

In [82]:
valid_user_ids = set(result_user['userID'])
valid_place_ids = set(result_restaurent['placeID'])

valid_rows = rating.apply(lambda x: x['userID'] in valid_user_ids and x['placeID'] in valid_place_ids, axis=1)

filtered_result_df = rating[valid_rows]
display(filtered_result_df)

     userID  placeID  rating  food_rating  service_rating
0     U1077   135085       2            2               2
2     U1077   132825       2            2               2
3     U1077   135060       1            2               2
4     U1068   135104       1            1               2
5     U1068   132740       0            0               0
...     ...      ...     ...          ...             ...
1153  U1043   132613       1            1               1
1155  U1043   132732       1            1               1
1157  U1011   132715       1            1               0
1158  U1068   132733       1            1               0
1159  U1068   132594       1            1               1

[781 rows x 5 columns]

In [83]:
import os
if not os.path.exists("results"):
    os.makedirs("results")
    
result_user.to_json('results/users.json',orient='records')
result_restaurent.to_json('results/restaurants.json',orient='records')
rating.to_json('results/ratings.json',orient='records')